.footer {
  grid-area: f;
  /* height: 25px; */
  min-width: 100%;
  text-align: center;
  padding: 3px 0;
  background-color: rgb(255, 255, 255);

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
