.post {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  border-radius: 20px;
}

.post img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 18px;
  margin: 0 10px 10px 0;
}

.avaAndUserName {
  display: flex;
  flex-direction: row;
}

.userName {
  font-size: 1.5em;
  color: rgb(48, 98, 190);
}

p {
  color: white;
}
